In [97]:
import numpy as np
import pandas as pd

In [98]:
ESR = pd.read_csv("../data/Epileptic_Seizure_Recognition.csv")

In [99]:
def preprocess_data(dataset: pd.DataFrame) -> np.array:
    def split_id(id) -> tuple:
        # idk = i don't know what this value stands for
        try:
            time_stamp, idk, person = id.split(".")
        except Exception:
            time_stamp, idk = id.split(".")
            person = 999
        
        time_stamp = int(time_stamp[1:])
        person = int(person)
        return person, time_stamp, idk


    ids = dataset["Unnamed"]
    values = [tuple(vals) for vals in dataset.iloc[:, 1:179].to_numpy()]
    labels = dataset["y"]

    people, time_stamps = [], []
    for id in ids:
        person, time_stamp, _ = split_id(id)
        people.append(person)
        time_stamps.append(time_stamp)

    preprocessed = pd.DataFrame({
        "person" : people,
        "time_stamp" : time_stamps,
        "values" : values,
        "labels": labels,
    })

    preprocessed = preprocessed[preprocessed["person"] != 999]
    
    preprocessed_sorted = preprocessed.sort_values(by=["person", "time_stamp"])
    
    return preprocessed_sorted


preprocess_data(ESR)

,person,time_stamp,values,labels
1705,1,1,"(-56, -50, -64, -91, -135, -140, -134, -114, -...",5
11426,1,2,"(-91, -78, -75, -70, -77, -69, -66, -52, -69, ...",5
10321,1,3,"(-61, -59, -46, -31, -29, -36, -58, -80, -104,...",5
8505,1,4,"(-125, -123, -106, -82, -38, -14, 6, 4, 6, -14...",5
2001,1,5,"(-60, -42, -25, -12, 10, 16, 12, -3, -23, -29,...",5
...,...,...,...,...
10495,994,19,"(-2, -31, -66, -71, -117, -186, -234, -320, -3...",1
10557,994,20,"(206, 182, 127, 43, -70, -170, -227, -288, -30...",1
296,994,21,"(411, 422, 401, 411, 398, 348, 275, 122, -1, -...",1
2392,994,22,"(53, -8, -55, -94, -113, -109, -121, -130, -17...",1
6784,994,23,"(93, 24, -51, -90, -108, -95, -73, -72, -58, -...",1